<% layout("/layouts/boilerplate")  %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>

    <br><br>

    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
        <lable for="title"class="form-label">Title</lable>
        <input name="listing[title]" 
        placeholder="Enter title" 
        type="text"
        class="form-control" required>
        </div>

        <div class="mb-3" >
            <lable for="description"class="for-lable">Description</lable>
            <textarea 
            name="listing[description]" 
            placeholder="Enter description"
            class="form-control" required></textarea>
            
        </div>

        <div class="mb-3">
            <label for="image" class="for-lable">Image Link</label>
            <input name="listing[image]" 
            placeholder="Enter image URL/Link" 
            type="text"
            class="form-control">
        </div>
        
        <div class="row">

            <div class="mb-3 col-4">
            <label for="price" class="for-lable">Price</label>
            <input name="listing[price]" 
            placeholder="Enter price" type="number"
            class="form-control" required>
        </div>


        <div class="mb-3 col-8">
            <label for="country" class="for-lable">Country</label>
            <input name="listing[country]" 
            placeholder="Enter country" 
            type="text"
            class="form-control" required>
        </div>

        </div>
        
        
        <div class="mb-3">
            <label for="location" class="for-lable">Location</label>
            <input name="listing[location]" 
            placeholder="Enter location"
            type="text"
            class="form-control" required>
        </div>
        <br>
        <button class="btn-btn-dark offset-10 mt-3">Add</button>
        
<br><br>
    </form>
</div>
</div>
