body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height:5rem;
    background-color: white;
}
/* icon color */
.fa-solid{
    color: darkorange;
}

/* FOOTER */
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */

.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}

/* Listing button */
.btn-btn-dark{
    background-color: darkorange;
    border-radius: 0.2rem;
    width: 5rem;
    border:none !important;
    
}

/* Edit Page */
.edit-btn{
    background-color: darkorange;
     border:none !important;
}


/*Show.ejs*/
.show-img{
    height:30vh;
}
.btns{
    display: flex;
}

/*search bar*/

/* Center the search bar */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-left: 28%;
}

/* Form styling */
.search-form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Input field */
.search-input {
  border: none;
  outline: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 50px;
  width: 250px;
}

/* Button */
.search-btn {
  background-color: darkorange; 
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

/* Hover effect */
.search-btn:hover {
  background-color: darkorange;
}